

@{
    ViewData["Title"] = "Puente";
}




<h4>Selecciona el tipo de equipo</h4>
<br>
<h4>
<a asp-action="Create_hardware">HARDWARE </a>    
</h4>
<br>
<h4>    
<a asp-action="Create_software">SOFTWARE</a>    
</h4>
<br>


<h4>
<a asp-action="Create_redes">REDES </a>


</h4> 


